<div class="container">
  <table>
    <tr>
      <th>Anagrams for '<%= @word %>'</th>
    </tr>
    <% @anagrams.each do |a| %>
    <tr>  
      <td><%= a %></td>
    </tr>
    <% end %>
  </table>
</div>
