<div class="container">
  <h1>Anagrams</h1>
</div>
<div class="container">
  <form method="post" action="/word">
    <input type="text" name="word">
    <input type="submit" value="Submit!">
  </form>
</div>

<% if @anagrams %>
  <%= erb :_anagrams, :layout => false %>
<% end %>